$primary: #fdc27a;
$accent: #104e5b;
$contrast: #616f80;
$dark: #2b2d33;
$primary-text: #104e5b;

//light theme
$light-theme-bg: #f2f6f7;
$light-theme-bg-contrast: #ffffff;
$light-theme-text: #104e5b;

//dark theme
$dark-theme-bg: #232033;
$dark-theme-bg-contrast: #26273b;
$dark-theme-text: #d1d1d1;
